#sparklive-button {
    font: normal 14px Tahoma, Verdana, Sans-Serif;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 0 solid rgba(0, 0, 0, 0);
    background: #049fd9;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 2147483647;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    visibility: visible;
    opacity: 1
}
#sparklive-button:not(.sparklive-button-float) {
    padding: 0 5px 0 10px
}
#sparklive-button.sparklive-animatable {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
#sparklive-button.sparklive-widget-opened {
    visibility: hidden;
    opacity: 0
}
#sparklive-button.sparklive-widget-opened.sparklive-animatable {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
#sparklive-button.sparklive-shaking:not(.sparklive-widget-opened) {
    -webkit-animation: jump 1.5s ease 0s 1 normal;
    animation: jump 1.5s ease 0s 1 normal
}
@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0)
    }
    20% {
        -webkit-transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px)
    }
    50% {
        -webkit-transform: translateY(0)
    }
    60% {
        -webkit-transform: translateY(-15px)
    }
    80% {
        -webkit-transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
@keyframes jump {
    0% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    50% {
        transform: translateY(0)
    }
    60% {
        transform: translateY(-15px)
    }
    80% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(0)
    }
}
#sparklive-button.sparklive-button-float {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px
}
#sparklive-button.sparklive-button-float.sparklive-animatable .sparklive-button-icon {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
#sparklive-button.sparklive-button-float.sparklive-animatable .sparklive-button-icon-close {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
#sparklive-button.sparklive-button-float .sparklive-button-icon-close {
    display: block;
    visibility: hidden;
    opacity: 0
}
#sparklive-button.sparklive-button-float.sparklive-widget-opened {
    visibility: visible;
    opacity: 1
}
#sparklive-button.sparklive-button-float.sparklive-widget-opened .sparklive-button-icon-close {
    visibility: visible;
    opacity: 1
}
#sparklive-button.sparklive-button-float.sparklive-widget-opened .sparklive-button-icon {
    visibility: hidden;
    opacity: 0
}
#sparklive-button.sparklive-button-float.sparklive-widget-opened.sparklive-animatable .sparklive-button-icon {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
#sparklive-button.sparklive-button-float.sparklive-widget-opened.sparklive-animatable .sparklive-button-icon-close {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: visibility, opacity;
    -moz-transition-property: visibility, opacity;
    -o-transition-property: visibility, opacity;
    transition-property: visibility, opacity
}
@media (max-width: 767px) {
    #sparklive-button.sparklive-button-float {
        left: inherit;
        right: 20px
    }
}
#sparklive-button.sparklive-button-float .sparklive-button-title {
    display: none
}
#sparklive-button.sparklive-button-float .sparklive-button-icon,
#sparklive-button.sparklive-button-float .sparklive-button-icon-close {
    width: 60px;
    height: 60px;
    text-size: 20px;
    position: absolute;
    top: 0;
    left: 0
}
#sparklive-button.sparklive-button-float .sparklive-button-notification {
    top: -2px;
    right: -2px
}
@media (max-width: 767px) {
    #sparklive-button:not(.sparklive-button-float) {
        left: 0;
        right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0
    }
}
@media (max-width: 1024px) {
    #sparklive-button {
        font-size: 120%
    }
}
#sparklive-button .sparklive-button-icon-close {
    display: none;
    visibility: hidden;
    opacity: 0
}
#sparklive-button .sparklive-button-title {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0 10px 0 32px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none
}
@media (max-width: 1024px) {
    #sparklive-button .sparklive-button-title {
        height: 50px;
        line-height: 50px
    }
}
@media (max-width: 767px) {
    #sparklive-button .sparklive-button-title {
        padding: 0 10px 0 36px
    }
}
#sparklive-button .sparklive-button-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
@media (max-width: 1024px) {
    #sparklive-button .sparklive-button-icon {
        top: 10px
    }
}
@media (max-width: 767px) {
    #sparklive-button .sparklive-button-icon {
        left: 2px
    }
}
#sparklive-button .sparklive-button-notification {
    background: #e74237;
    width: 18px;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    position: absolute;
    top: -6px;
    right: -4px;
    text-align: center;
    display: none
}
#sparklive-widget {
    font: normal 14px Tahoma, Verdana, Sans-Serif;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 0 solid rgba(0, 0, 0, 0);
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 2147483647;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 320px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0
}
#sparklive-widget html,
#sparklive-widget div,
#sparklive-widget span,
#sparklive-widget object,
#sparklive-widget iframe,
#sparklive-widget h1,
#sparklive-widget h2,
#sparklive-widget h3,
#sparklive-widget h4,
#sparklive-widget h5,
#sparklive-widget h6,
#sparklive-widget p,
#sparklive-widget blockquote,
#sparklive-widget pre,
#sparklive-widget abbr,
#sparklive-widget address,
#sparklive-widget cite,
#sparklive-widget code,
#sparklive-widget del,
#sparklive-widget dfn,
#sparklive-widget em,
#sparklive-widget img,
#sparklive-widget ins,
#sparklive-widget kbd,
#sparklive-widget q,
#sparklive-widget samp,
#sparklive-widget small,
#sparklive-widget strong,
#sparklive-widget sub,
#sparklive-widget sup,
#sparklive-widget var,
#sparklive-widget b,
#sparklive-widget i,
#sparklive-widget dl,
#sparklive-widget dt,
#sparklive-widget dd,
#sparklive-widget ol,
#sparklive-widget ul,
#sparklive-widget li,
#sparklive-widget fieldset,
#sparklive-widget form,
#sparklive-widget label,
#sparklive-widget legend,
#sparklive-widget table,
#sparklive-widget caption,
#sparklive-widget tbody,
#sparklive-widget tfoot,
#sparklive-widget thead,
#sparklive-widget tr,
#sparklive-widget th,
#sparklive-widget td,
#sparklive-widget article,
#sparklive-widget aside,
#sparklive-widget figure,
#sparklive-widget footer,
#sparklive-widget header,
#sparklive-widget menu,
#sparklive-widget nav,
#sparklive-widget section,
#sparklive-widget time,
#sparklive-widget mark,
#sparklive-widget audio,
#sparklive-widget video,
#sparklive-widget details,
#sparklive-widget summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    float: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#sparklive-widget main,
#sparklive-widget article,
#sparklive-widget aside,
#sparklive-widget figure,
#sparklive-widget footer,
#sparklive-widget header,
#sparklive-widget nav,
#sparklive-widget section,
#sparklive-widget details,
#sparklive-widget summary {
    display: block
}
#sparklive-widget html {
    box-sizing: border-box
}
#sparklive-widget *,
#sparklive-widget *:before,
#sparklive-widget *:after {
    box-sizing: inherit
}
#sparklive-widget img,
#sparklive-widget object,
#sparklive-widget embed {
    max-width: 100%
}
#sparklive-widget html {
    overflow-y: scroll
}
#sparklive-widget ul {
    list-style: none
}
#sparklive-widget blockquote,
#sparklive-widget q {
    quotes: none
}
#sparklive-widget blockquote:before,
#sparklive-widget blockquote:after,
#sparklive-widget q:before,
#sparklive-widget q:after {
    content: "";
    content: none
}
#sparklive-widget a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
#sparklive-widget del {
    text-decoration: line-through
}
#sparklive-widget abbr[title],
#sparklive-widget dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}
#sparklive-widget table {
    border-collapse: separate;
    border-spacing: 0
}
#sparklive-widget th {
    font-weight: bold;
    vertical-align: bottom
}
#sparklive-widget td {
    font-weight: normal;
    vertical-align: top
}
#sparklive-widget hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
#sparklive-widget input,
#sparklive-widget select {
    vertical-align: middle
}
#sparklive-widget pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}
#sparklive-widget input[type="radio"] {
    vertical-align: text-bottom
}
#sparklive-widget select,
#sparklive-widget input,
#sparklive-widget textarea {
    font: 99% sans-serif
}
#sparklive-widget table {
    font-size: inherit;
    font: 100%
}
#sparklive-widget small {
    font-size: 85%
}
#sparklive-widget strong {
    font-weight: bold
}
#sparklive-widget td,
#sparklive-widget td img {
    vertical-align: top
}
#sparklive-widget sub,
#sparklive-widget sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}
#sparklive-widget sup {
    top: -0.5em
}
#sparklive-widget sub {
    bottom: -0.25em
}
#sparklive-widget pre,
#sparklive-widget code,
#sparklive-widget kbd,
#sparklive-widget samp {
    font-family: monospace, sans-serif
}
#sparklive-widget .clickable,
#sparklive-widget label,
#sparklive-widget input[type=button],
#sparklive-widget input[type=submit],
#sparklive-widget input[type=file],
#sparklive-widget button {
    cursor: pointer
}
#sparklive-widget button,
#sparklive-widget input,
#sparklive-widget select,
#sparklive-widget textarea {
    margin: 0
}
#sparklive-widget.sparklive-widget-opened {
    visibility: visible;
    opacity: 1
}
@media (min-width: 768px) {
    #sparklive-widget.sparklive-animatable:not(.sparklive-widget-fullheight) {
        max-height: 0;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        -webkit-transition-property: visibility, opacity, max-height;
        -moz-transition-property: visibility, opacity, max-height;
        -o-transition-property: visibility, opacity, max-height;
        transition-property: visibility, opacity, max-height
    }
    #sparklive-widget.sparklive-animatable.sparklive-widget-fullheight {
        max-width: 0;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        -webkit-transition-property: visibility, opacity, max-width;
        -moz-transition-property: visibility, opacity, max-width;
        -o-transition-property: visibility, opacity, max-width;
        transition-property: visibility, opacity, max-width
    }
    #sparklive-widget.sparklive-animatable.sparklive-widget-opened {
        max-height: 410px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        -webkit-transition-property: visibility, opacity, max-height;
        -moz-transition-property: visibility, opacity, max-height;
        -o-transition-property: visibility, opacity, max-height;
        transition-property: visibility, opacity, max-height
    }
    #sparklive-widget.sparklive-animatable.sparklive-widget-opened.sparklive-widget-fullheight {
        max-height: inherit;
        max-width: 320px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        -webkit-transition-property: visibility, opacity, max-width;
        -moz-transition-property: visibility, opacity, max-width;
        -o-transition-property: visibility, opacity, max-width;
        transition-property: visibility, opacity, max-width
    }
    #sparklive-widget.sparklive-button-float:not(.sparklive-widget-fullheight) {
        bottom: 95px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px
    }
    #sparklive-widget.sparklive-button-float:not(.sparklive-widget-fullheight) .sparklive-widget-title {
        -webkit-border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0
    }
    #sparklive-widget.sparklive-button-float:not(.sparklive-widget-fullheight) .sparklive-widget-content {
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px
    }
    #sparklive-widget.sparklive-button-float:not(.sparklive-widget-fullheight).sparklive-animatable {
        max-width: 0;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        -webkit-transition-property: visibility, opacity, max-height, max-width;
        -moz-transition-property: visibility, opacity, max-height, max-width;
        -o-transition-property: visibility, opacity, max-height, max-width;
        transition-property: visibility, opacity, max-height, max-width
    }
    #sparklive-widget.sparklive-button-float:not(.sparklive-widget-fullheight).sparklive-animatable.sparklive-widget-opened {
        max-width: 320px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        -webkit-transition-property: visibility, opacity, max-height, max-width;
        -moz-transition-property: visibility, opacity, max-height, max-width;
        -o-transition-property: visibility, opacity, max-height, max-width;
        transition-property: visibility, opacity, max-height, max-width
    }
    #sparklive-widget:not(.sparklive-widget-fullheight) .sparklive-widget-title {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0
    }
}
@media (max-width: 767px) {
    #sparklive-widget {
        left: 0;
        right: 0;
        width: inherit
    }
    #sparklive-widget.sparklive-animatable {
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        -webkit-transition-property: visibility, opacity;
        -moz-transition-property: visibility, opacity;
        -o-transition-property: visibility, opacity;
        transition-property: visibility, opacity
    }
    #sparklive-widget.sparklive-animatable.sparklive-widget-opened {
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        -webkit-transition-property: visibility, opacity;
        -moz-transition-property: visibility, opacity;
        -o-transition-property: visibility, opacity;
        transition-property: visibility, opacity
    }
}
@media (max-width: 1024px) {
    #sparklive-widget {
        font-size: 110%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-animation: bugfix infinite 1s
    }
    @-webkit-keyframes bugfix {
        from {
            padding: 0
        }
        to {
            padding: 0
        }
    }
}
#sparklive-widget .sparklive-widget-title {
    background: #049fd9;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0 30px 0 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    cursor: pointer;
    position: relative;
    z-index: 20
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-title {
        height: 50px;
        line-height: 50px
    }
}
#sparklive-widget .sparklive-widget-content {
    background: white;
    height: 370px;
    -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5)
}
#sparklive-widget .sparklive-widget-messages {
    padding: 5px 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 40px;
    bottom: 90px;
    left: 0;
    right: 0;
    z-index: 10
}
#sparklive-widget .sparklive-widget-messages>div {
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding: 10px 14px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-opacity: .95;
    -khtml-opacity: .95;
    opacity: .95;
    margin-left: 38px
}
#sparklive-widget .sparklive-widget-messages>div>img.sparklive-widget-message-avatar {
    width: 40px;
    max-width: 40px;
    height: auto;
    position: absolute;
    left: -44px;
    bottom: -2px;
    z-index: 10;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}
#sparklive-widget .sparklive-widget-messages>div img.sparklive-widget-message-photo {
    margin: 2px 0;
    height: 150px;
    width: 150px;
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;
    display: block
}
#sparklive-widget .sparklive-widget-messages>div img.sparklive-widget-message-file {
    margin: 2px 0;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;
    display: block
}
#sparklive-widget .sparklive-widget-messages>div>div {
    max-width: 100%
}
#sparklive-widget .sparklive-widget-messages>div>div a {
    text-decoration: underline
}
#sparklive-widget .sparklive-widget-messages>.sparklive-widget-message-from-agent {
    margin-top: 18px
}
#sparklive-widget .sparklive-widget-messages>.sparklive-widget-message-from-agent.no-agent-name {
    margin-top: 0
}
#sparklive-widget .sparklive-widget-messages div span {
    position: absolute;
    top: -18px;
    left: 2px;
    color: #a4a3a8;
    font-size: 14px;
    width: 240px
}

@media (min-width: 768px) and (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-messages {
        top: 50px;
        bottom: 70px
    }
}
#sparklive-widget .sparklive-widget-message-from-visitor {
    position: relative;
    color: black;
    background: #E5E5EA;
    float: right;
    clear: both
}
#sparklive-widget .sparklive-widget-message-from-visitor a,
#sparklive-widget .sparklive-widget-message-from-visitor a:hover,
#sparklive-widget .sparklive-widget-message-from-visitor a:focus,
#sparklive-widget .sparklive-widget-message-from-visitor a:active,
#sparklive-widget .sparklive-widget-message-from-visitor a:visited {
    color: black
}
#sparklive-widget .sparklive-widget-message-from-visitor:before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -7px;
    height: 20px;
    color: #E5E5EA;
    border-right: 20px solid #E5E5EA;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translateX(0) translateY(-2px);
    -moz-transform: translateX(0) translateY(-2px);
    transform: translateX(0) translateY(-2px)
}
#sparklive-widget .sparklive-widget-message-from-visitor:after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translateX(-30px) translateY(-2px);
    -moz-transform: translateX(-30px) translateY(-2px);
    transform: translateX(-30px) translateY(-2px)
}
#sparklive-widget .sparklive-widget-message-from-agent {
    position: relative;
    background: #049fd9;
    color: white;
    float: left;
    clear: both
}
#sparklive-widget .sparklive-widget-message-from-agent a,
#sparklive-widget .sparklive-widget-message-from-agent a:hover,
#sparklive-widget .sparklive-widget-message-from-agent a:focus,
#sparklive-widget .sparklive-widget-message-from-agent a:active,
#sparklive-widget .sparklive-widget-message-from-agent a:visited {
    color: white
}
#sparklive-widget .sparklive-widget-message-from-agent:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #049fd9;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translateX(0) translateY(-2px);
    -moz-transform: translateX(0) translateY(-2px);
    transform: translateX(0) translateY(-2px)
}
#sparklive-widget .sparklive-widget-message-from-agent:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    color: #049fd9;
    border-bottom-right-radius: 10px;
    -webkit-transform: translateX(-30px) translateY(-2px);
    -moz-transform: translateX(-30px) translateY(-2px);
    transform: translateX(-30px) translateY(-2px)
}
#sparklive-widget .sparklive-widget-input-container {
    padding: 0 10px;
    position: absolute;
    bottom: 23px;
    left: 0;
    right: 0;
    background: white;
    z-index: 20
}
#sparklive-widget .sparklive-widget-input {
    padding: 5px 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    border-color: #049fd9 !important;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: black;
    min-height: inherit;
    width: 100% !important;
    height: inherit;
    text-transform: none;
    background: inherit
}
#sparklive-widget .sparklive-widget-input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 12px -3px #049fd9;
    -moz-box-shadow: 0 0 12px -3px #049fd9;
    box-shadow: 0 0 12px -3px #049fd9
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-input {
        font-size: 110%
    }
}
#sparklive-widget .sparklive-widget-input-message {
    padding: 10px 64px 12px 10px;
    height: 38px;
    overflow-y: hidden
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-input-message {
        height: 42px
    }
}
#sparklive-widget .sparklive-widget-file-input {
    display: none
}
#sparklive-widget .sparklive-widget-file-input-btn,
#sparklive-widget .sparklive-widget-screenshot-btn,
#sparklive-widget .sparklive-widget-send-icon-btn {
    width: 24px;
    height: 38px;
    position: absolute;
    bottom: 4px;
    padding: 10px 2px;
    cursor: pointer;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#sparklive-widget .sparklive-widget-file-input-btn>img,
#sparklive-widget .sparklive-widget-screenshot-btn>img,
#sparklive-widget .sparklive-widget-send-icon-btn>img {
    width: 100%
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-file-input-btn,
    #sparklive-widget .sparklive-widget-screenshot-btn,
    #sparklive-widget .sparklive-widget-send-icon-btn {
        height: 42px;
        padding: 12px 2px
    }
}
#sparklive-widget.sparklive-offline .sparklive-widget-file-input-btn,
#sparklive-widget.sparklive-offline .sparklive-widget-screenshot-btn {
    top: 70px
}
@media (max-width: 1024px) {
    #sparklive-widget.sparklive-offline .sparklive-widget-file-input-btn,
    #sparklive-widget.sparklive-offline .sparklive-widget-screenshot-btn {
        top: 76px
    }
}
#sparklive-widget.sparklive-offline .sparklive-widget-input-message {
    height: 230px
}
@media (max-width: 1024px) {
    #sparklive-widget.sparklive-offline .sparklive-widget-input-message {
        height: 210px
    }
}
#sparklive-widget .sparklive-widget-file-input-btn {
    right: 16px
}
#sparklive-widget .sparklive-widget-screenshot-btn {
    right: 46px
}
#sparklive-widget .sparklive-widget-send-icon-btn {
    right: 16px;
    display: none
}
#sparklive-widget a.sparklive-widget-footer img {
    height: 16px;
    margin-left: 2px
}
#sparklive-widget .sparklive-widget-notification {
    background: #e74237;
    width: 18px;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    position: absolute;
    top: -6px;
    right: -4px;
    text-align: center;
    z-index: 20;
    display: none
}
#sparklive-widget.sparklive-button-float .sparklive-widget-notification {
    top: -2px;
    right: -2px
}
#sparklive-widget .sparklive-icon {
    width: 32px;
    position: absolute;
    top: 0;
    left: 0
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-icon {
        top: 17px;
        left: 7px
    }
}
#sparklive-widget .sparklive-widget-close-btn {
    width: 14px;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
    z-index: 20
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-close-btn {
        top: 20px;
        right: 11px;
        width: 16px
    }
}
#sparklive-widget .sparklive-widget-input-name,
#sparklive-widget .sparklive-widget-input-email {
    margin-top: 5px !important
}
#sparklive-widget .sparklive-widget-input-email {
    margin: 5px 0 !important
}
#sparklive-widget .sparklive-widget-settings-btn {
    width: 16px;
    position: absolute;
    top: 5px;
    left: 2px;
    padding: 8px;
    z-index: 20;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-settings-btn {
        top: -1px;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 18px
    }
}
#sparklive-widget .sparklive-widget-settings-container {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 5555;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    background: white;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-transition-property: visibility, opacity, max-height;
    -moz-transition-property: visibility, opacity, max-height;
    -o-transition-property: visibility, opacity, max-height;
    transition-property: visibility, opacity, max-height
}
#sparklive-widget .sparklive-widget-settings-container.sparklive-widget-opened {
    visibility: visible;
    opacity: 1;
    max-height: 126px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transition-property: visibility, opacity, max-height;
    -moz-transition-property: visibility, opacity, max-height;
    -o-transition-property: visibility, opacity, max-height;
    transition-property: visibility, opacity, max-height
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-settings-container.sparklive-widget-opened {
        max-height: 136px
    }
}
#sparklive-widget .sparklive-widget-settings-container form {
    padding: 5px 10px;
    width: initial
}
#sparklive-widget .sparklive-widget-settings-container form .sparklive-widget-input {
    margin: 5px 0
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-settings-container {
        top: 50px
    }
}
#sparklive-widget .sparklive-widget-login-btn,
#sparklive-widget .sparklive-widget-call-btn,
#sparklive-widget .sparklive-widget-send-btn {
    background: #049fd9;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    width: 100%;
    padding: 7px;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    margin: 5px 0;
    cursor: pointer;
    -webkit-appearance: none;
    height: inherit;
    box-sizing: border-box
}
@media (max-width: 1024px) {
    #sparklive-widget .sparklive-widget-login-btn,
    #sparklive-widget .sparklive-widget-call-btn,
    #sparklive-widget .sparklive-widget-send-btn {
        font-size: 120%
    }
}
#sparklive-widget .sparklive-widget-login-btn,
#sparklive-widget .sparklive-widget-call-btn:hover,
#sparklive-widget .sparklive-widget-send-btn:hover {
    -moz-opacity: .97;
    -khtml-opacity: .97;
    opacity: .97
}
#sparklive-widget .sparklive-widget-login-btn,
#sparklive-widget .sparklive-widget-call-btn:focus,
#sparklive-widget .sparklive-widget-send-btn:focus {
    outline: none
}
#sparklive-widget.sparklive-widget-fullheight {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    right: 0
}
#sparklive-widget.sparklive-widget-fullheight .sparklive-widget-content {
    width: 368px
}
#sparklive-widget .sparklive-widget-typing-indicator {
    background: #049fd9;
    width: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 12px;
    display: table;
    margin: 0 auto;
    position: absolute;
    bottom: 70px;
    left: 20px;
    -moz-opacity: .95;
    -khtml-opacity: .95;
    opacity: .95;
    display: none
}
#sparklive-widget .sparklive-widget-typing-indicator:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -7px;
    height: 18px;
    border-left: 20px solid #049fd9;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translateX(0) translateY(-2px);
    -moz-transform: translateX(0) translateY(-2px);
    transform: translateX(0) translateY(-2px)
}
#sparklive-widget .sparklive-widget-typing-indicator:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 18px;
    width: 12px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translateX(-30px) translateY(-2px);
    -moz-transform: translateX(-30px) translateY(-2px);
    transform: translateX(-30px) translateY(-2px)
}
#sparklive-widget .sparklive-widget-typing-indicator span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background: white;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-opacity: .4;
    -khtml-opacity: .4;
    opacity: .4
}
#sparklive-widget .sparklive-widget-typing-indicator span:nth-of-type(1) {
    -webkit-animation: 1s sparklive-blink infinite .3333s;
    animation: 1s sparklive-blink infinite .3333s
}
#sparklive-widget .sparklive-widget-typing-indicator span:nth-of-type(2) {
    -webkit-animation: 1s sparklive-blink infinite .6666s;
    animation: 1s sparklive-blink infinite .6666s
}
#sparklive-widget .sparklive-widget-typing-indicator span:nth-of-type(3) {
    -webkit-animation: 1s sparklive-blink infinite .9999s;
    animation: 1s sparklive-blink infinite .9999s
}
@-webkit-keyframes sparklive-blink {
    50% {
        opacity: 1
    }
}
@keyframes sparklive-blink {
    50% {
        opacity: 1
    }
}
@media (max-width: 767px) {
    #sparklive-widget .sparklive-widget-typing-indicator {
        bottom: 25px
    }
}