%style
  :plain
    #A_1 {
      background-position: 0px 0px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      display: inline-block;
      height: 40px;
      text-align: center;
      text-decoration: none solid rgb(255, 255, 255);
      text-size-adjust: 100%;
      width: 165px;
      column-rule-color: rgb(255, 255, 255);
      perspective-origin: 82.5px 20px;
      transform-origin: 82.5px 20px;
      caret-color: rgb(255, 255, 255);
      background: rgb(0, 126, 179) none repeat scroll 0px 0px / auto padding-box border-box;
      border: 0px none rgb(255, 255, 255);
      border-radius: 19px 19px 19px 19px;
      font: normal normal normal normal 18px / 40px Arial, Helvetica, sans-serif;
      margin: 15px 0px 0px;
      outline: rgb(255, 255, 255) none 0px;
      margin-top: 20%;
      margin-left: 45%;
    }


%div
  %a{href: User::AUTH_URI, id:"A_1"}
    Add SparkLive